* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  body {
    background: url("pexels-sunsetoned-7235677.jpg") center center no-repeat;
    background-size: 100% ;
    font-family: 'Montserrat', sans-serif !important;
  }
  .fondo {
      background:none;
    }
  
  .wrap {
    max-width: 1100px;
    width: 90%;
    margin: auto;
  }
  
  .wrap > h1 {
    color: #ffffff;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 35px 0px;
    box-shadow: 5px 2px 4px rgba(90, 90, 90, 0.7)!important;
  }
  
  .wrap > h1:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #c7c7c7;
    margin: 10px 0;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.7);
  }
  
  
  .fondo {
    display: block;
    position: relative;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
    border-radius: 2%;
  }
  .store-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5%;
    width: 90%;
  }
  
  .category_list {
    display: flex;
    flex-direction: column;
    width: 18%;
  }
  
  .category_list .category_item { /*Botones categoria*/
    display: block;
    width: 90%;
    padding: 15px 0;
    margin-bottom: 20px;
    background: #2d3e50;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    border-radius: 2%;
    text-align: center;
    text-decoration: none;
    color: #fff;
  }
  
  .category_list .ct_item-active {
    background: #182029;
    width: 90%;
  }
  
  /* PRODUCTOS ============*/
  
  .products-list {
    width: 82%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .products-list .product-item {
    width: 22%;
    margin-left: 3%;
    margin-bottom: 25px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
  
    transition: all 0.4s;
  }
  
  .products-list .product-item img {
    width: 100%;
  }
  
  .products-list .product-item a { /*texto debajo de los productos*/
    display: block;
    width: 100%;
    padding: 15px 0;
    background: #2d3e50;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    text-align: center;
    text-decoration: none;
  }
  
  
  /* RESPONSIVE */
  
  @media screen and (max-width: 1100px) {
    .products-list .product-item {
      width: 30.3%;
    }
  }
  
  @media screen and (max-width: 900px) {
    .category_list,
    .products-list {
      width: 100%;
    }
  
    .category_list {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .category_list .category_item {
      align-self: flex-start;
      width: 15%;
      font-size: 14px;
    }
  
    .products-list .product-item {
      margin-left: 4.5%;
    }
  
    .products-list .product-item:nth-child(3n + 1) {
      margin-left: 0px;
    }
  }
  
  @media screen and (max-width: 7px) {
    .category_list {
      flex-direction: column;
    }
    .category_list .category_item {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  
  @media screen and (max-width: 600px) {
    .products-list .product-item {
      width: 47.5%;
    }
  
    .products-list .product-item:nth-child(3n + 1) {
      margin-left: 4.5%;
    }
  
    .products-list .product-item:nth-child(2n + 1) {
      margin-left: 0px;
    }
  }
  
  @media screen and (max-width: 350px) {
    .products-list .product_item {
      width: 100%;
      margin-left: 0px;
    }
  }
  img {
    position: relative;
    float: left;
    width: 900px;
    height: 300px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  nav a{
      font-size: 20px;
      padding-left: 30% !important;
      transform: translate(90px) !important;
      padding-bottom: 0,1cm !important;
      
  }

  i{
    position: relative;
    text-align:center;
    width: 50px;
    margin: 1px;
    color: #6b7279; 
  }
  
  nav{
      box-shadow: 5px 2px 5px rgba(90, 90, 90, 0.7)!important;
  }
  
  
  nav p{
      float: left !important;
      position: static !important;
      font-size: 25px !important;
      color: #6b7279 !important;
      text-shadow: 1px 1px 1px rgba(90, 90, 90, 0.7)!important;
  }
  h1{
    text-shadow: 5px 2px 4px rgba(90, 90, 90, 0.7)!important;
    font-family: 'MonteCarlo', cursive !important;
    font-size: 70px !important;
  }
  #imagen{
    margin-left: 25%;
    
    padding-bottom: 0.002px;
    box-shadow: 5px 2px 4px rgba(90, 90, 90, 0.7)!important;
    margin-right: auto;
    border-radius: 20px;
  }
